<div class="containe allRestaurant">
    <mat-card>
        <div>
            <h2 style="text-align: center">Add New Restaurant Details!</h2>
            <div>
                <mat-form-field appearance="outline" class="form-elements">
                    <mat-label>Restaurant Name</mat-label>
                    <input matInput placeholder=" Restaurant Name" [(ngModel)]="restaurantRecords.name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-elements">
                    <mat-label>Restaurant Owner</mat-label>
                    <input matInput placeholder=" Name of Owner" [(ngModel)]="restaurantRecords.owner">
                </mat-form-field>

            </div>
            <div>
                <mat-form-field appearance="outline" class="form-elements">
                    <mat-label>Restaurant Mobile</mat-label>
                    <input matInput placeholder="Mobile No" [(ngModel)]="restaurantRecords.mobile">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-elements">
                    <mat-label>Restaurant Email</mat-label>
                    <input matInput placeholder=" Restaurant Email" [(ngModel)]="restaurantRecords.email">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-elements">
                    <mat-label>Restaurant Location</mat-label>
                    <input matInput placeholder=" Restaurant Location" [(ngModel)]="restaurantRecords.location">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" type="button" (click)="addRecords()">Add Records</button>
            </div>
        </div>
    </mat-card>
</div>
