<div class="containe allRestaurant">
    <mat-card>
        <div>
            <h2 style="text-align: center">Add New Restaurant Details!</h2>
            <div>
                <mat-form-field appearance="outline" class="form-elements">
                    <mat-label>Restaurant Name</mat-label>
                    <input matInput placeholder=" Restaurant Name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-elements">
                    <mat-label>Restaurant Owner</mat-label>
                    <input matInput placeholder="  Name of Owner">
                </mat-form-field>

            </div>
            <div>
                <mat-form-field appearance="outline" class="form-elements">
                    <mat-label>Restaurant Mobile</mat-label>
                    <input matInput placeholder="Mobile No">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-elements">
                    <mat-label>Restaurant Email</mat-label>
                    <input matInput placeholder=" Restaurant Email">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" type="button">Primary</button>
            </div>
        </div>
    </mat-card>
</div>
